---
import Header from '../components/header/index.astro';
import ThemeScript from '../components/theme/script.astro';
import { ClientRouter } from 'astro:transitions';

const { title } = Astro.props;
---

<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" type="image/webp" href="/logo.webp">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ClientRouter/>
        <ThemeScript/>
	</head>
	<body>
        <Header/>
        <slot />
	</body>
</html>